.title__h1 {
  font-family: 'Bebas Neue';
  font-size: 31px;
  font-weight: 400;
  color: #474747;
  margin-bottom: 7px;
}

.title__p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #9e9e9e;
  max-width: 530px;
}

.about__title {
  margin-bottom: 50px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12.5px;
  margin-bottom: 110px;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333333%;
          flex: 0 1 33.333333%;
  margin: 0 12.5px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__title {
  font-family: 'Bebas Neue';
  font-size: 23px;
  font-weight: 400;
  color: #474747;
  margin-bottom: 18px;
}

.item__subtext {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #9e9d9d;
  padding-bottom: 17px;
}

.item__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #474747;
}

.stuff {
  margin-bottom: 78px;
  width: 100%;
}

.stuff__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.stuff__item {
  margin: 0 10px;
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
}

.stuff__photo {
  width: 100%;
}

.stuff__photo img {
  max-width: 100%;
}

.stuff__body {
  padding: 14px 17px 16px 14px;
}

.stuff__title {
  font-family: 'Bebas Neue';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.stuff__name {
  font-size: 24px;
  font-weight: 400;
  color: #474747;
}

.stuff__ip {
  font-size: 15px;
  font-weight: 400;
  color: #515151;
}

.stuff__post {
  font-family: 'Bebas Neue';
  font-size: 16px;
  font-weight: 400;
  color: #949393;
  margin-bottom: 14px;
}

.stuff__text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #515151;
}
